*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    height: 100vh;
    background-color: rgb(236, 236, 236);
}

a{
    color: rgb(255, 239, 239);
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    display: inline-flex;
}

.logo>img{
    max-height: 100%;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #914EFF;
    height: 8vh;
}
.nav2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #914EFF;
    height: 8vh;
}
.sub-bar{
    list-style: none;
    display:flex;
    justify-content:right;
    align-items:center;
    width: 100%;
    background-color: #7DA900;
}
.sub-bar li{
    margin-left: 10px;
    color: rgb(255, 255, 255);
    height: 30px;
}
.sub-icons{
    position: relative;
    right: 60%;
    margin-left: 8px;
    min-width:30px;
    height: 30px;
    cursor: pointer;
    color: #fff;
}

.search-box{
    background: #59319b;
    height: 30px;
    width: 500px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box>a{
    width: 20px;
    height: 20px;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color:rgb(255, 239, 239) ;
    width: 500px;
}

main{
    background: url("fundo.png") no repeat
    center center;
    background-size: cover;
    height: 92vh;
}


.nav-list{
    list-style: none;
    display:flex;
}

.nav-list li{
    letter-spacing: 0px;
    margin-left: 32px;
    color: #fff;
}
.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px){
    body{
        overflow: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #2f005c;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 1000;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
}

.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.user{
    display: flex;
    cursor: pointer;
    color: aliceblue;
}
.user h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: aliceblue;
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}
.titulo-scroll-bar{
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.lateral-bars{
    background-color: rgb(214, 214, 214);
    box-sizing: border-box;
}
.lateral-bars .left{
    position: absolute;
    left: 0px;
    background-color: #d4d4d4;
    width: 13%;
    height: 250ch;
    z-index: 10;
    box-shadow: inset -10px 0px 10px #707070;
}
.lateral-bars .right{
    height: 250ch;
    position: absolute;
    right: 0px;
    width: 15%;
    background-color: #d4d4d4;
    z-index: 10;
    box-shadow: inset 10px 0px 10px #707070;
}
.titulo-scroll-bar h1{
    position: relative;
    text-align: center;
    width: 130px;
    left:13.5%;
    font-size: 20px;
    color: #ffffff;
    background-color: #59319b;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
}
.titulo-scroll-bar h2{
    position: absolute;
    text-align: center;
    width: 90px;
    right: 15.5%;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
    background-color: #59319b;
    margin: 3px;
    border-radius: 5px;
}

.main-scroll-div{
    padding-left: 9%;
    width: 89%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cover{
    position: relative;
    width: 90%;
    height: 50%;
}

.cover::before{
    position: relative;
    content: "";
    left: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 100px;
    background-image: linear-gradient(90deg, black, transparent);
}

.cover::after{
    position: relative;
    content: "";
    right: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 100px;
    background-image: linear-gradient(-90deg, black, transparent);
}

.scroll-images{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}
.scroll-images h1{
    font-size: 50;
    position: absolute;
    bottom: 0;
    background-color: #470068;
    /*width: 21.9%;*/
    width: 13.2ch;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.child{
    z-index: 250;
    min-width:300px;
    height: 450px;
    margin: 0px 10px;
    cursor: pointer;
    border: 0px solid white;
    overflow: hidden;
}
.scroll-images::-webkit-scrollbar{
    -webkit-appearance: none;

}

.child-img{
    z-index: 250;
    width: 100%;
    height: 100%;

}
.icon-img{
    z-index: 250;
    width: 100%;
    height: 100%;
}
.icon{
    position: relative;
    z-index: 250;
    background: rgb(211, 211, 211);
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 100px ;
    padding: 5px;
    cursor: pointer;
}

.icon:hover{
    color: aqua;
}

/* ESTILOS DA TELA DE FILMES */
.container{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 980px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

.resumo-section{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.resumo-section>img{
    max-width: 25%;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #00000057;
}

.resumo{
    max-width: 100%;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-nota>a{
    font-weight: bold;
    color: #7000FF;
}

.info-nota>p{
    font-weight: bold;
}

.nota{
    font-size: 80px;
}

.cor-nota{
    color: #7DA900;
}

.informacoes-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 10px;
}

.informacoes-section>img{
    max-width: 40%;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #00000057;
}

.informacoes{
    width: 100%;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.informacoes>hr{
    border: none;
    width: 200px;
    height: 2px;
    background-color: #914EFF;
}

.informacoes>ul{
    list-style: none;
    text-align: left;
    font-weight: 400;
}

.plataformas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.plataformas>a{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.plataformasIcons{
    width: 100%;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.452));
}

.comentarios{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-comentarios{
    width: 100%;
    background-color: #914EFF;
    border-radius: 5px;
}

.header-comentarios>p{
    box-sizing: border-box;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-weight: 500;
    color: #FFFFFF;
}

.comentarios>input{
    appearance: none;
    border: none;
    width: fit-content;
    border-radius: 5px;
    padding: 2px 15px;
    background-color: #914EFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: white;
}



.comentarioAdd{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* header do modal */

.comentarioAdd-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.usuario{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.usuario>img{
    border-radius: 50%;
    width: 50px;
    margin-right: 5px;
}

.notaAdd{
    width: 290px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-weight: bolder;
}

.notaAdd>input{
    appearance: none;
    width: 200px;
    height: 10px;
    border-radius: 5px;
    background-color: #DFDFDF;
}

/* .slide::-webkit-slider-thumb{
    appearance: none;
    width: 40px;
    height: 40px;
    background: url('onion.png');
    cursor: pointer;
} */

#nota{
    color: #ff3535;
}

/* body do modal */

.notaAdd-body{
    margin-top: 8px;
}

.notaAdd-body>textarea{
    width: 100%;
    resize: none;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #DFDFDF;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: bolder;
}

.notaAdd-body>textarea::placeholder{
    color: #aaaaaa;
}

.notaAdd-body>textarea:focus{
    outline: none;
    color: #5c5c5c;
}

/* footer do modal */
.modal-footer{
    margin-top: 20px;
    display: flex;
    justify-content: right;
}

.modal-footer>input{
    appearance: none;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #eeeeee;
}

.modal-footer>input:nth-child(1) {
    background-color: #914EFF;
    padding: 10px 25px;
}

.modal-footer>input:nth-child(1):hover {
    background-color: #8145e0;
    cursor: pointer;
}