*{
    margin: 0;
    padding: 0;
}

a{
    color: rgb(255, 239, 239);
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    display: inline-flex;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #914EFF;
    height: 8vh;
}
.nav2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #914EFF;
    height: 8vh;
}
.sub-bar{
    list-style: none;
    display:flex;
    justify-content:right;
    align-items:center;
    width: 100%;
    background-color: #7DA900;
}
.sub-bar li{
    margin-left: 10px;
    color: rgb(255, 255, 255);
    height: 30px;
    width: 30px;
}
.sub-icons{
    position: relative;
    right: 60%;
    margin-left: 8px;
    min-width:30px;
    height: 30px;
    cursor: pointer;
    color: #fff;
}

.search-box{
    background: #59319b;
    height: 10px;
    width: 300px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color:rgb(255, 239, 239) ;
}

main{
    background: url("fundo.png") no repeat
    center center;
    background-size: cover;
    height: 92vh;
}


.nav-list{
    list-style: none;
    display:flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    color: #fff;
}
.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px){
    body{
        overflow: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #2f005c;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
}

.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform: rotate(-45deg) translate(-5px, -7px);
}
.titulo-scroll-bar{
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.titulo-scroll-bar h1{
    position: relative;
    left:5.5%;
    font-size: 20px;
    color: #3834ff;
    cursor: pointer;
}
.titulo-scroll-bar h2{
    position: absolute;
    right: 5.5%;
    font-size: 20px;
    color: #3834ff;
    cursor: pointer;
}

.main-scroll-div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cover{
    position: relative;
    width: 90%;
    height: 50%;
}

.cover::before{
    position: relative;
    content: "";
    left: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 100px;
    background-image: linear-gradient(90deg, black, transparent);
}

.cover::after{
    position: relative;
    content: "";
    right: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 100px;
    background-image: linear-gradient(-90deg, black, transparent);
}

.scroll-images{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}

.child{
    min-width:300px;
    height: 450px;
    margin: 1px 10px;
    cursor: pointer;
    border: 1px solid white;
    overflow: hidden;
}
.scroll-images::-webkit-scrollbar{
    -webkit-appearance: none;

}

.child-img{
    width: 100%;
    height: 100%;

}
.icon{
    background: none;
    font-size: 50px;
    outline: none;
    border: none;
    padding: opx 20px;
    cursor: pointer;
}

.icon:hover{
    color: aqua;
}
